*{
    padding: 0;
    margin: 0;

}
#game{
  width: 500px;
  height: 200px;
  border: 1px solid black;
  top: 100px
}
#Character{
  width: 20px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 150px;
}
.animate{
  animation: jump 500ms;
}
#block{
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite linear;
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
@keyframes block {
    0%{left: 480px;}
    100%{left: -40px;}
}
.center1{
  text-align: center;

}
.center2{
    padding-top: 20px;
  display: flex;
  justify-content: center;
  
}



.Arrow{
  transform: scaleX(-1);
  width: 1100px;
}
.Bottom{
  margin-bottom: 100px;
}
.back{
  top: 100px;

}
.Undertxt{
    text-align: center;
  
}

.Card{
  float: left;
  margin:50px;
  width: 400px;
  height: 175px;
  top: 100px
   
}
.CardImg{
  text-align:center;
  
 padding-left: 10px;
 padding-right: 10px;
  
}
.Logo{
  padding: 40px;
  transition: transform .2s; /* Animation */  
  margin: 0 auto;
}
.Logo:hover{
    transform: scale(1.5);
}
.carousel {
  margin: 0 auto;
  width:640px;
  height:360px;
}
