*{
    padding: 0;
    margin: 0;

}

#game{
  width: 500px;
  height: 200px;
  border: 1px solid black;
  top: 100px
}

#Character{
  width: 20px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 150px;
}

.animate{
  animation: jump 500ms;
}

#block{
  width: 20px;
  height: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1s infinite linear;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

@keyframes block {
    0%{left: 480px;}
    100%{left: -40px;}
}

.center1{
  text-align: center;
  color: white;
}

.center2{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  
}

.Arrow{
  transform: scaleX(-1);
  width: 1100px;
}

.Bottom{
  margin-bottom: 100px;
}

.back{
  top: 100px;

}

.Undertxt{
   text-align: center;
   color: white;
}

.Card{
  float: left;
  margin:50px;
  width: 400px;
  height: 175px;
  top: 100px
  
   
}

.CardImg{
  text-align:center;
  
 padding-left: 10px;
 padding-right: 10px;
  
}

.Logo{
  
  padding: 40px;
  transition: transform .2s; /* Animation */  
  margin: 0 auto;
}

.Logo:hover{
    transform: scale(1.5);
}

.ParentCarousel{
   display: grid;
   
}

.carousel {
  
  align-self: center;
  justify-self: center;
  width:640px;
  height:360px;
  padding-top: 7px;
  box-shadow: 0px 0px 10px 23px rgba(0,0,0,50%);

  
}

.sec{
    height:125vh;
    /*background-image: linear-gradient(to bottom right, red, blue);*/
    background: linear-gradient(180deg,rgba(235,51,51,100%) 0%, rgba(49,44,158,100%) 100%);

}

.lead{
    font-weight: bold;
}

.p-5{
    background-color: rgb(70,70,70);
}

.sec2{
    
    height: 2150px;
    background: linear-gradient(180deg,rgba(235,51,51,100%) 0%, rgba(49,44,158,100%) 100%);
}
.IndexImageAlign{
    display: grid;
}
.Sec2IndexImg{
    margin-top: 50px;
    margin-left: 50px;

    width:25%;
    height: auto;
}
